/* CSS code for your breakpoints */
.my-element {
  width: 100%;
  padding: 10px;
}

@media (min-width: 576px) {
  /* Styles applied when screen width is equal to or greater than 576px (sm breakpoint) */
  .my-element {
    width: 50%;
  }

}

@media (min-width: 768px) {
  /* Styles applied when screen width is equal to or greater than 768px (md breakpoint) */
  .my-element {
    width: 75%;
  }
  .querybtn {
  margin-top: 3rem;
    }
}

@media (min-width: 992px) {
  /* Styles applied when screen width is equal to or greater than 992px (lg breakpoint) */
  .my-element {
    width: 80%;
  }
  .querybtn {
    margin-top: 3rem;
      }
}

@media (min-width: 1200px) {
  /* Styles applied when screen width is equal to or greater than 1200px (xl breakpoint) */
  .my-element {
    width: 90%;
  }
  .querybtn {
    margin-top: 3rem;
      }

}

@media (min-width: 1400px) {
  /* Styles applied when screen width is equal to or greater than 1400px (xxl breakpoint) */
  .my-element {
    width: 95%;
  }
  .querybtn {
    margin-top: 3rem;
      }
}
